/*

.z

!README.md

!.bash_aliases
!.bashrc
!.vimrc
!/.vim
!.Xdefaults
!.xinitrc
!.Xmodmap
!.gtkrc-2.0
!.gitignore
!userChrome.css
!.xprofile
!.ideavimrc
!firefox-theme.sh

!/.local

!/.themes

!/.config/
.config/*

!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/fontconfig/
!.config/i3/
!.config/polybar/
!.config/ranger/
!.config/Scripts/
!.config/rofi/
!.config/nvim/
!.config/JetBrains/
!.config/oomox/


!.config/wall.png
!.config/compton.conf
!.config/bash-powerline.sh
