/*

!README.md

!.bash_alias
!.bashrc
!.vimrc
!/.vim
!.Xdefaults
!.xinitrc
!.Xmodmap
!.gtkrc-2.0
!.gitignore

!/.config/
.config/*

!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/fontconfig/
!.config/i3/
!.config/polybar/
!.config/ranger/
!.config/Scripts/
!.config/rofi/

!.config/wall.png
!.config/compton.conf
!.config/bash_powerline.sh
